<section class="styleguide__feature-spotlight">
   <div class="featured-spotlight">
      <div class="container-medium">
         <div class="featured-spotlight__container g--pull-half">
            <div class="featured-spotlight__img"><img src="../images/icons/placeholder--wide.png" alt="wide image placeholder example" width="800" height="480"></div>
            <div class="container-small">
               <h3 class="xxlarge">Featured Article</h3>
               <p>Read <a href="//code.sc">@chrisdotcode</a>'s blog and see if he is posting anything interesting.</p>
               <a href="//code.sc" class="cta--primary">Check it out</a>
            </div>
         </div>
      </div>
   </div>
</section>
