<header class="app-bar promote-layer">
  <div class="app-bar-container">
    <button class="menu"><img src="images/hamburger.svg" alt="Menu"></button>
    <h1 class="logo"><a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
    <section class="app-bar-actions">
    <!-- Put App Bar Buttons Here -->
    </section>
  </div>
</header>

<nav class="navdrawer-container promote-layer">
  <h4>Navigation</h4>
  <ul>
    {% for page in site.pages %}
      {% if page.title %}
        <li>
          <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
        </li>
      {% endif %}
    {% endfor %}

  </ul>
</nav>
