{% if site.projects %}
<div class="highlight-module  highlight-module--left   highlight-module--learning">
   <div class="highlight-module__container  icon-google-dev">
      <div class="highlight-module__content   g-wide--push-1 g-wide--pull-1  g-medium--push-1">
         <h2 class="highlight-module__title">Projects</h2>
         <p class="highlight-module__text">The fun alternatives to solved problems I was talking about</p>
      </div>
   </div>
</div>

<section class="styleguide__featured-section">
   <div class="featured-section">
      <div class="container-medium">
         <ul class="featured-list">
            {% for project in site.projects %}
            <li class="featured-list__item clear">
               <div class="container-small">
                  <div class="featured-list__content g--half">
                     <h3>{{project.title}}</h3>
                     <p>{{project.content}}</p>
                     <a href="{{url}}" class="cta--primary">Check it out on Github</a>
                  </div>
                  <div class="featured-list__img-wrapper g--half g--last">
                     <div class="featured-list__img"><img src="{{ project.img | prepend: site.baseurl }}" alt="small image placeholder example"></div>
                  </div>
               </div>
            </li>
            {% endfor %}

         </ul>
      </div>
   </div>
</section>

{% endif %}
