<div class="highlight-module  highlight-module--left   highlight-module--learning">
   <div class="highlight-module__container  icon-google-dev">
      <div class="highlight-module__content   g-wide--push-1 g-wide--pull-1  g-medium--push-1">
         <h2 class="highlight-module__title">Projects</h2>
         <p class="highlight-module__text">The fun alternatives to solved problems I was talking about</p>
      </div>
   </div>
</div>

<section class="styleguide__featured-section">
   <div class="featured-section">
      <div class="container-medium">
         <ul class="featured-list">
            <li class="featured-list__item clear">
               <div class="container-small">
                  <div class="featured-list__content g--half">
                     <h3>WordPress Bootstrap</h3>
                     <p>Feature-rich, standards-compliant WordPress theme giving you all the features of Bootstrap intergrated fully into a WordPress environment</p>
                     <a href="https://github.com/webmakersteve/WordpressBootstrap" class="cta--primary">Check it out on Github</a>
                  </div>
                  <div class="featured-list__img-wrapper g--half g--last">
                     <div class="featured-list__img"><img src="../images/icons/placeholder--small.png" alt="small image placeholder example"></div>
                  </div>
               </div>
            </li>
            <li class="featured-list__item clear">
               <div class="container-small">
                  <div class="featured-list__content g--half">
                     <h3>Ferntastic</h3>
                     <p>Developer centered PHP framework for creating other frameworks, CLI tools, web apps, or anything else.</p>
                     <a href="https://github.com/webmakersteve/Ferntastic" class="cta--primary">Check it out on GitHub</a>
                  </div>
                  <div class="featured-list__img-wrapper g--half g--last">
                     <div class="featured-list__img"><img src="../images/icons/placeholder--small.png" alt="small image placeholder example"></div>
                  </div>
               </div>
            </li>

            <li class="featured-list__item clear">
               <div class="container-small">
                  <div class="featured-list__content g--half">
                     <h3>SimWeb</h3>
                     <p>Zend Framework implementation of World of Warcraft SimCraft program/</p>
                     <a href="https://github.com/webmakersteve/Ferntastic" class="cta--primary">Check it out on GitHub</a>
                  </div>
                  <div class="featured-list__img-wrapper g--half g--last">
                     <div class="featured-list__img"><img src="../images/icons/placeholder--small.png" alt="small image placeholder example"></div>
                  </div>
               </div>
            </li>

         </ul>
      </div>
   </div>
</section>
