---
layout: default
permalink: /blog/
title: Blog
---

<div class="home">

  <div class="highlight-module  highlight-module--left   highlight-module--learning">
   <div class="highlight-module__container  icon-lessons">
      <div class="highlight-module__content   g-wide--push-1 g-wide--pull-1  g-medium--push-1">
         <h2 class="highlight-module__title">Blog</h2>
         <p class="highlight-module__text">The annoying rants I was talking about</p>
      </div>
   </div>
</div>

  <div class="container">

    <ul class="guides-list container-medium posts">
    {% for post in site.posts %}
      <li class="guides-list__item g--half theme--multi-device-layouts {% cycle 'make last': nil, 'g--last' %}">
        <div class="primary-content">
           <h3 class="xlarge" style="text-align:center;"><a class="post-link" title="Go to post" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
           {{ post.excerpt }}
        </div>
        <div class="secondary-content">
           <span class="icon-circle themed--background"><i class="icon icon-lessons"></i></span>
           {% if post.categories %}
           <ol class="list-links list-links--secondary" style="text-align:center;">
           {% for cat in post.categories %}
              <li><a href="#ignore-click" title="Post category: {{cat}}">{{cat}}</a></li>
           {% endfor %}
           </ol>
           {% endif %}
        </div>
     </li>
     {% endfor %}
  </ul>

  </div>
  
  {% if paginator.previous_page || paginator.next_page %}
  <!-- Pagination links -->
  <div class="container">
    <nav class="pagination">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
      {% endif %}
      <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="next">Next</a>
      {% endif %}
    </nav>
  </div>
  {% endif %}

</div>
