.app-bar {
  position: relative;
}

.app-bar.open,
.app-bar.open ~ main {
  -webkit-transform: translate(0px, 0);
          transform: translate(0px, 0);
}

.app-bar-container {
  display: block;
  height: 130px;
  max-width: 864px;
  padding: 0 16px;
  box-sizing: border-box;
  background-color: #4285f4;
}

.app-bar .logo {
  float: left;
  margin: 0;
  padding: 0;
  line-height: 130px;
  font-size: 46px;
}

.app-bar-actions {
  float: right;
}

.app-bar::after {
  content: ' ';
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}

button.menu {
  display: none;
}

nav {
  display: block;
  margin-top: 130px;
}

.navdrawer-container {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 130px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: none;
          transition: none;
  overflow-y: auto;
}

.navdrawer-container h4 {
  display: none;
}

.navdrawer-container ul {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 864px;
  margin: 0 auto;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}

.navdrawer-container ul li {
  border: none;
}

main {
  padding-top: 0;
  min-height: initial;
}

.container {
  max-width: 864px;
  margin: 0 auto;
}

body {
  overflow-y: scroll;
}

.navdrawer-container {
  position: relative;
  margin-top: 0;
}
