---
---

@import '_h5bp';
@import 'components/components';

$bg: #fdfdfd;

html,
body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: 'Roboto Condensed', 'Helvetica', 'Arial', sans-serif;
  font-weight: 300;
  box-sizing: border-box;
  min-height: 100%;

  background-color: $bg;
}

body.open {
  overflow: hidden;
}

.app-bar {
  display: block;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #4285f4;
  overflow: hidden;
  z-index: 2;
}

.app-bar-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 60px;
  position: relative;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 auto;
}

.app-bar.open,
.app-bar.open ~ main {
  -webkit-transform: translate(250px, 0);
          transform: translate(250px, 0);
}

.app-bar .logo {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 2em;
  line-height: 60px;
  margin: 0 16px;
  padding: 0;
  color: #fefefe;
  float: none;
  max-width: none;
  font-weight: 300;
}

.app-bar .logo a {
  text-decoration: none;
  color: inherit;
  font-weight: normal;
}

.app-bar-actions {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  z-index: 2;
}

.app-bar button {
  width: 60px;
  height: 60px;
  background-image: none;
  background-color: transparent;
  border: none;
  padding: 0;
  -webkit-transition: background-color 0.2s ease-out;
          transition: background-color 0.2s ease-out;
  -webkit-tap-highlight-color: transparent;
}

.app-bar button img {
  width: 60px;
  height: 60px;
}

.app-bar button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.app-bar button:focus {
  background-color: rgba(255, 255, 255, 0.2);
  outline: 0;
}

.app-bar button:active {
  background-color: rgba(255, 255, 255, 0.4);
}

button.menu img {
  height:24px;
  width: 24px;
}

.promote-layer {
  /*
  This may promote the layer to a composited
  layer.

  Replace with will-change when available

  #perfmatters
  */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.base, p, ul, ol {
  font-size: 19px;
}

.navdrawer-container {
  z-index: 2;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 250px;
  height: 100%;
  background-color: #3367D6;
  color: #fefefe;
  -webkit-transform: translate(-250px, 0);
          transform: translate(-250px, 0);
  overflow-y: auto;
}

.navdrawer-container.open {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.app-bar, .navdrawer-container, main {
  -webkit-transition: -webkit-transform 0.3s ease-out;
          transition: transform 0.3s ease-out;
}

.navdrawer-container h4,
.navdrawer-container ul li a {
  height: auto;
  padding: 17px 20px;
  line-height: 1.4;
}

.navdrawer-container h4 {
  background-color: white;
  color: #3367D6;
}

.navdrawer-container ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.navdrawer-container ul li a {
  display: block;
  text-decoration: none;
  color: white;
  -webkit-transition: background-color 0.2s ease-out;
          transition: background-color 0.2s ease-out;
  white-space: nowrap;
}

.navdrawer-container ul li {
  border-bottom-style: solid;
  border-width: 1px;
  border-color: white;
  padding: 0;
}

.navdrawer-container ul li::before {
  content: none;
}

.navdrawer-container ul li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.navdrawer-container ul li a:focus {
  background-color: rgba(255, 255, 255, 0.3);
  outline: 0;
}

.navdrawer-container ul li a:active {
  background-color: rgba(255, 255, 255, 0.4);
}

main {
  /* Height of the header */
  padding: 60px 0px 16px;
  min-height: 100%;
}

.container {
  width: auto;
  padding: 16px;
}

/** Larger Screens - desktops and tablets **/
@media all and (min-width: 990px) {
  @import '_larger_screens';
}

@import '_fonts';

.home, .page, .post {
  background-color: #FFFFFF;
  padding-bottom: 30px;
  border-bottom: 1px solid #e8e8e8;
}

.github-icon-svg,
.twitter-icon-svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: relative;
  top: 3px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul, ol {

  &.list-links a::before {
    content:none;
  }
}

footer {

  padding-bottom: 25px;

  p {
    font-size: 13px;
    line-height: 2.0000em;
  }


}

code {
  .kc {
    color: purple;
  }
  .kd {
    color: blue;
  }
}

blockquote {
  @extend .quote__content;
  p:first-child {
    border-top: 0;
    padding-top: 0;
    margin-top: 0;
  }
}

@media (min-width: 990px) {
  .guides-list__item {
    h3.xlarge {
      height:130px;
    }
    p {
      height: 200px;
    }
    .list-links--secondary {
      li a {
        text-transform: capitalize;
      }
    }
  }
}

.rss svg {
  width:15px;	top: 3px; position:relative;
}

.video-responsive-16b9 {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
  iframe {
  	position: absolute;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
  }
}

.latest-commit {
  display: none;
  .commits {
    li {
      &:before {
        content: none;
      }
      padding-left: 0;
    }
    padding-left: 0;
    margin:0;
    line-height: 26px;
    .gravatar {
      width:20px;
      height:20px;
      display:inline-block;
      border-radius:10px;
      position:relative;
      top:3px;
      margin-right:5px;
    }
    small {
      margin: 0; padding: 0;
    }
  }
}
